{% extends 'base.html' %}

{% block title %}Add Media | Owner | Const Collection{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-8">
      <h2>Add Media</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Add</button>
        <a class="btn btn-secondary" href="{% url 'collections_app:manage_media' %}">Back</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
