/* Minimal placeholder styles */
body { font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
.navbar-brand { font-weight: 600; }

#intro > p{
    font-size: 24px;
    color: rgb(68, 68, 68);
    font-weight: 500;
}
.video {
  max-width: 1200px;
  height: auto;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.5);
}

#hero {
    background: linear-gradient(90deg, #797979 0%, #3b8791 50% , #797979 100%);
    width: 100%;
    height: auto;
}

#multi-color {
  background: linear-gradient(
    90deg,
    #5900be 0%,
    #c48741 20%,
    #41c497 50%,
    #65f0ff 80%,
    #ff66d9 100%
  );

  padding: 15px;
}